.nav-item{
  color: white;
  text-decoration: none;
  margin-right: 20px;
}
.banner{
  height: 500px;
  display: flex;
  align-items: center;
}
.banner::before{
  position: absolute;
  left: 0;
  width: 100%;
  height: 500px;
  content: '';
  background: linear-gradient(to right, black, transparent);
}
.banner-info{
  width: 40%;
  color: white;
  margin-right: 30px;
  z-index: 1;
}
.card{
  width: 300px;
  height: 200px;
}
.overlay{
  opacity: 0;
  background: rgba(43, 41, 41, 0.9);
  width: 100%;
  height: 100%;
}
.card:hover .overlay{
  opacity: 1;
}
.home-movie{
  background-color: black;
}
.home-movie h1 {
  color: white;
}
.product-img{
  display: flex;
  justify-content: flex-end;
}
.detail-container{
  margin: 30px;
}
.detail-container div{
  margin-bottom: 10px;
  color: white;
}
ul{
  list-style: none;
}